body {
  font-family: "Ubuntu", sans-serif;
  /* background: linear-gradient(to right, #e0a1a9, #e2b5ba); */
  background: #eab0dc;
}

h1 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 45px;
  text-align: center;
  margin-top: 80px;
}

.content{
    background: #fff;
    max-width: 80%;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    background: #f6f6f6;
    padding: 15px;
    font-size: 20px;
    color: #555;
    width: 95%;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}
li:nth-child(even){
    background: #f2f2f2;
    padding: 15px;
}

li span {
    display: block;
   
}

li span:nth-child(2){
    font-size: 12px;
    margin-top: 6px;
    color: #999;
}

form input{
    
    width: 38%;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #34e623;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after {
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    letter-spacing: 1px;
    color: #999;
}

button:hover{
    background-color: #43c937;
    color: #fff;
    transition: all 0.2s ease;
}

li div{
    position: absolute;
    background: rgba(255,255,255,0.6);
    top: 10px;
    right: 10px;
    width: 40px;
    text-align: center;
    padding: 3px 0;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;

}

li div:hover{
    background: rgb(218, 26, 26);
    color: #fff;
    transition: all 0.2s ease;
}


/*
li{ 
    position: relative;
    height: 46px;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}
} */